<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="utf-8" />  
        <title>账号登录</title>  
        <!--用百度的静态资源库的cdn安装bootstrap环境-->  
        <!-- Bootstrap 核心 CSS 文件 -->  
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">  
        <!--font-awesome 核心我CSS 文件-->  
        <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">  
        <!-- 在bootstrap.min.js 之前引入 -->  
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>  
        <!-- Bootstrap 核心 JavaScript 文件 -->  
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>  
        <!--jquery.validate-->  
        <script type="text/javascript" src="/js/jquery.validate-1.17.0.min.js" ></script>  
        <script type="text/javascript" src="/js/message_zh.js" ></script>  
        <style type="text/css">  
            body{background: url() no-repeat;background-size: <span style="font-family: 微软雅黑; rgb(239, 239, 239);">cover</span>;font-size: 16px;}  
            .form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}  
            #login_form{display: block;}  
            #register_form{display: none;}  
            .fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}  
            input[type="text"],input[type="password"]{padding-left:26px;}  
            .checkbox{padding-left:21px;}  
        </style>  
    </head>  
    <body>  
        <div class="container" id="app">  
            <div class="form row">  
                    <h3 class="form-title">登录账号</h3>  
                    <div class="col-sm-9 col-md-9">  
                        <div class="form-group">  
                            <i class="fa fa-user fa-lg"></i>
                            <?php if(isset($_COOKIE['uname'])){?>
                            <input class="form-control required" type="text" v-model="uname"  placeholder="用户名" name="uname" autofocus="autofocus" value="<?php echo $_COOKIE['uname'];?>" maxlength="20"/> 
                            <?php }else{?>  
                            <input class="form-control required" type="text" v-model="uname"  placeholder="用户名" name="uname" autofocus="autofocus" maxlength="20"/> 
                            <?php }?>
                        </div>  
                        <div class="form-group">  
                                <i class="fa fa-lock fa-lg"></i>  
                                <?php if(isset($_COOKIE['password'])){?>
                                <input class="form-control required" type="password" v-model="password"  placeholder="密码" name="password" value="<?php echo $_COOKIE['password'];?>" maxlength="8"/>
                                <?php }else{?>  
                                <input class="form-control required" v-model="password" type="password" placeholder="密码" name="password" maxlength="8"/>
                                <?php }?>
                        </div>  
                        <div class="form-group">  
                            <label class="checkbox">  
                                <?php if(isset($_COOKIE['remeber'])){?>
                                    <input type="checkbox" name="remember"  v-model="remember"  value="1" checked>记住密码
                                <?php }else{?>
                                    <input type="checkbox" name="remember" v-model="remember" value="" >记住密码
                                <?php }?>
                            </label>  
                            <hr />  
                            <a href="/user/register"  class="">注册账号</a>  
                        </div>  
                        <div class="form-group">  
                            <input type="button" class="btn btn-success pull-right"  @click="login" value="登录 "/>     
                        </div>  
                    </div>  
            </div>  
        </div>  
    <script type="text/javascript" src="/js/main.js" ></script>  
    </body>  
</html>  
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script>
    new Vue({
        el:'#app',
        data: {
            uname:'',
            password:'',
            remember:1
        },
        methods:{
            login:function(){
                // 调用登录接口
            axios.post('http://localhost:9999/user/doLogin', {
                            uname: this.uname,
                            password: this.password,
                            remember:this.remember
                        })
                        .then(function (response) {
                            if(response.data.code == 200)
                            {   
                                localStorage.setItem('jwt_token', response.data.jwt)
                                location.href="/user/user_list"
                            }
                            else
                            {
                                alert(response.data.error)
                            }
                        })
            }
        }
    })

</script>